
<!DOCTYPE html>
<html>

    <head>
        <title> Registration Email sur tamanii.com</title>
    </head>

    <body>
        <h1>Bonjour</h1>
        <p> Vous avez recu ce email parce que vous etes un future membre de l'equipe de tamanii.com clickez sur le lien 
            ci desous pour vous registrer Merci</p>

        <p><a href="{{link}}">{{link}}</a></p>
     
            <p> Merci</p>
    </body>
</html>