<!DOCTYPE html>
<html>

    <head>
        <title> Mot de pass oublier  sur tamanii.com</title>
    </head>

    <body>
        <h1>Bonjour</h1>
        <p> Vous avez recu ce email parce que vous voulez changer votre address email sur tamanii.com clickez sur le lien 
            ci desous pour changer votre mot de pass</p> 

     <p><a href="{{link}}">{{link}}</a></p>
     
            <p> Merci</p>
              
            
    </body>
</html>